<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios_base_use.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A4C1A3C1DC9CA8C00162CD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A4C1A501DC9CA8C00162CD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A4C1A5B1DC9CA8C00162CD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
